<footer>
<nav class="navbar navbar-expand-lg  ">
    <img class="img-fluid" src="../../../assets/imag/movie central.png" alt="">
   
      <img class="img-fluid" src="../../../assets/imag/cinema_movies_logo_black_background.png" alt="">
      <img class="img-fluid" src="../../../assets/imag/scream.jpg" alt="">

      <img class="img-fluid" src="../../../assets/imag/attachment_75357702.png" alt="">

      <div id="contact">
        <h4>Contact Us</h4>
        <h5>mohammedalmahfoodh@yahoo.com</h5>
        <h5>0700260884</h5>
      </div>


</nav>

</footer>