.navbar{width: 100%;
 background-color: black;
}
.fas{
    color: rgb(87, 211, 87);
}
h1,h4,h6{
    color: rgb(87, 211, 87);
}
#SignUp{
    color: rgb(159, 223, 159);width: 100px;
}
#s{
    width: 100%;
}
#movieLogo{
    max-width: 100px;max-height: 100px;
}

#movieLogo2{
    max-width: 100px;max-height: 100px;
    margin-left: 280px;
}

h3{
    color: rgb(87, 211, 87);
}
#userIcon{
    margin-left: 270px;
}
#myProfile{
   
}
#logoutButton{
   
}
#r-container{

}
#myProfile{
  
}
