


<div class="wrapper" >
 
    <h5 id="title" *ngIf="!userLoggedIn">Log in to rent your favourite movies.</h5>
    <form class="form-signin" (ngSubmit)="signIn()" *ngIf="!userLoggedIn" >       
       
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
      <br>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required /> 
      <div class="form-group">     
     
       </div>
      <button class="btn btn-primary btn-block" type="submit">Login</button>   
    </form>
    
  </div>
  
  

